@import url("https://fonts.googleapis.com/css?family=Muli");
@media (min-width: 768px) {
  nav.before-color {
    background-color: transparent;
    padding: 15px 0;
    border-color: transparent; }
  nav.after-color {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0px 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.302);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.302); }
  nav.before-color.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: 400; } }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.95);
  border: 0px;
  margin: 0px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 5px 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  background: url("http://www.techweekeurope.co.uk/wp-content/uploads/2015/02/Sky-logo.png") no-repeat;
  background-size: 70px;
  width: 100px; }

.myButton {
  box-shadow: 3px 2px 0px 0px #390550;
  background-color: #0F89E9;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 15px;
  padding: 10px 23px;
  text-decoration: none;
  width: 160px;
  text-align: center;
  margin-left: 34%; }

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

.button a {
  background-color: Transparent;
  background-repeat: no-repeat;
  color: green;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none; }

header.carousel {
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%; }

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("http://screenrant.com/wp-content/uploads/Arrow-Cast-Members-Tease-Season-4.jpg"); }

header.carousel .fill1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("http://www.asset1.net/tv/pictures/show/the-flash/The-Flash-key-art-16x9-1.jpg"); }

header.carousel .fill2 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("http://i1.wp.com/bitcast-a-sm.bitgravity.com/slashfilm/wp/wp-content/images/Jurassic-World-Trailer-Still-72.jpg"); }

.postinfobot {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  padding: 0 30px 0 94px; }

.postinfobot .likeblock {
  width: 120px; }

.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: left;
  text-align: left;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background: transparent;
  background-position: center; }

.image-bg-fluid-height {
  background: url("http://cdn.bgr.com/2015/01/the-walking-dead-season-5-trailer.png") no-repeat center center scroll;
  padding: 100px 0; }

.image-bg-fixed-height {
  background: url("http://cdn.bgr.com/2015/01/the-walking-dead-season-5-trailer.png") no-repeat;
  height: 450px; }

.img-center {
  margin: 0 auto; }

section {
  padding: 15px 0; }

.section-heading {
  margin: 30px 0;
  font-size: 4em; }

.section-lead {
  margin: 30px 0; }

.section-paragraph {
  margin: 30px 0; }

.section1 {
  background-image: radial-gradient(circle closest-side, #fff, #C9C7D1);
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

.rating {
  background-image: radial-gradient(circle closest-side, #fff, #C9C7D1); }

.rated {
  color: black;
  background-color: #222222;
  background: no-repeat center center scroll;
  background-size: cover;
  -o-background-size: cover; }

.rated .rated-item {
  text-align: center;
  background: white;
  color: #222222;
  padding: 30px;
  box-shadow: 0px 0px 30px 5px rgba(34, 34, 34, 0.75);
  z-index: 1;
  margin-bottom: 30px; }

.boxed {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

.overlay-container {
  position: relative;
  display: block;
  overflow: hidden; }

.overlay {
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  right: -1px;
  background-color: rgba(57, 5, 80, 0.61);
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: all linear 0.2s; }

.overlay:hover {
  text-decoration: none; }

.overlay span {
  position: absolute;
  display: block;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300; }

.overlay i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 26px;
  line-height: 1x;
  color: #ffffff;
  margin-top: -8px;
  margin-left: -8px;
  text-align: center;
  font-weight: normal; }

.overlay-container:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1); }

hr.gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  margin-bottom: 30px; }

hr.gradient-short {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  margin-bottom: 30px;
  max-width: 100px; }

hr.colored {
  border-color: #f62459;
  max-width: 100px; }

hr {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 2px;
  margin: 15px auto; }

footer {
  margin: 50px 0; }

@media (max-width: 768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px; }
  .section-heading {
    font-size: 2em; } }

/*# sourceMappingURL=app.css.map */
